<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. Add this to your 
solution. 
Insert values for the  
BuildConfiguration - (Examples: Release, Debug, dev, qa, train, prod) 

LastUsedPlatform - (Examples: x86, AnyCPU, MixedPlatform)

PublishURL - This is the path to the folder the solution is destined for

Contact Release Management if you have any questions.

Remove this and other comments after you have this file.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Prod</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform> 
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>\\dshsutoly4261p\Staging\RM_StagingAssembly\Drop\prod\FTIWebService\JwtService</publishUrl>
  </PropertyGroup>
</Project>