<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="APPId" value="Owt" />
    <add key="HelpPageTitle" value="Open Web Token API Help Page" />
    <add key="Footer" value="Open Web Token Service" />
    <!-- The value of the JsonWebTokenExpiresTime are in measurement of minute(s) -->
    <add key="OwtExpiresTime" value="240" />
    <!-- The AudienceList, IssuerList and AcceptsRequestFromList value can be '|' delimited to specify multiple values. -->
    <add key="AudienceList" value="" />
    <add key="IssuerList" value="Open Web Token|[OTHERS]" />
    <add key="AcceptsRequestFrom" value="" />
    <add key="DefaultUserAgent" value="Mozilla/4.0 (compatible; Win32; WinHttp.WinHttpRequest.5)"/>
    <add key="EncryptedPublicKey" value="D:\home\LogFiles\OwtKeys\public_key.pem" />
    <add key="ExceptionLog" value="D:\home\LogFiles\ExceptionLog\" />
    <add key="ServiceLog" value="D:\home\LogFiles\ServiceLog\" />
  </appSettings>
</configuration>
